[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
ipykernel = "*"
waveshare-epd = {editable = true,git = "https://github.com/txoof/e-Paper.git",subdirectory = "RaspberryPi_and_JetsonNano/python/"}
docrep = "*"
cachepath = "*"
lmsquery-fork = "*"

[dev-packages]

[requires]
python_version = "3.7"
