[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
ipykernel = "*"
docrep = "*"
cachepath = "*"
ratelimiter = "*"
dynaconf = "*"
spidev = "*"
pyinstaller = "*"
"RPi.GPIO" = "*"
requests = "*"

[dev-packages]

[requires]
