[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ipykernel = "*"
cachepath = "*"
ratelimiter = "*"
spidev = "*"
"RPi.GPIO" = "*"
requests = "*"
lmsquery-fork = "*"
pyinstaller = "*"
epdlib = "*"

[requires]
python_version = "3.7"
