[Unit]
# https://www.shellhacks.com/systemd-service-file-example/
Description=SlimPi LMS Display

[Service]
# adding arguments https://superuser.com/questions/728951/systemd-giving-my-service-multiple-arguments

# Type=simple
# wait until everything else is started
Type=idle
PIDFile=/run/slimpi.pid
ExecStart=/usr/bin/slimpi/slimpi -d
TimeoutStopSec=30
ExecStop=/bin/kill -s SIGINT $MAINPID
#KillSignal=SIGINT
User=slimpi
Group=slimpi

[Install]
WantedBy=multi-user.target
